body{
    background-color: lightgray;
}
.logo{
    border-radius: 5%;
    border: 2px solid;
    margin-right: auto;
    margin-left: auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey; 
    width: 15%;
    font-weight: bold;
    padding: 37px;
    font-size: 2.5rem;
}
#div_contact p, .contact, .card-body h5, p.price, #promote{
    text-align: center; 
}
#div_promote{
    border: 10px solid greenyellow;
    border-radius: 50px;
    width: 100%; 
}
#div_contact{
    border:10px solid cornflowerblue;
    border-radius: 50px;
    margin-right: 5%;
    margin-left: 5%;
    height: 100%;
}
section, main, #div_slider{
    display: flex;
}
section{
    margin: 1.3%;
    flex-wrap: wrap;
    justify-content: space-around;
}
aside{
    width: 25%;
}
a img{
    width: 106px; 
}
main{
    flex-wrap: wrap;
    justify-content: center;

}
.card-body button{
    margin-left: 64%;
}
p.price{
    font-weight: bold;
    border: 2px solid black;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 50px;
}
#promote{
    padding-top: 2%;
}
.phone_number{
    font-weight: bold;
}
#div_slider{
    align-items: center;
    position: relative; 
    top: -5%
    /*for empty new*/
    /* top: 25%;*/
    /**/
}
.fas.fa-angle-left, .fas.fa-angle-right{
    font-size: 50px;
} 
.card{
    flex-shrink: 0;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}
.fas.fa-angle-left, .fas.fa-angle-right{
    position: absolute;
}
.fas.fa-angle-left{
    left: 3%;
}
.fas.fa-angle-right{
    left: 96%;
}
#slider{
    overflow: hidden;
    width: 100%;
    margin-right: 5.5%;
    margin-left: 5.5%;
    margin-top : 5%;
}
#slides{
    width: 400%;
    margin-left: 0;
}
.nav-tabs {
    justify-content: space-evenly;
    align-items: center;
}
.nav-link{
    background-color: white;
    border-top-right-radius: unset !important;
    border-top-left-radius: unset !important;
    border-radius: 25px !important;
}
header{
    background-image: url(https://www.lepetitvapoteur.com/modules/vapoteurheadermenu/css/../img/fond-header-uni.png);
    background-size: contain;
    padding-bottom: 2%;
}
.nav-item{
    text-align: center;
}